body {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #9a9a9a;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

/* Style for Header */

header.top_header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

header.top_header .wrapper nav.left_nav ul,
header.top_header .wrapper nav.right_nav ul {
    display: flex;
    font-size: 18px;
    line-height: 22px;
    color: #433840;
}

header.top_header .wrapper nav.left_nav ul li,
header.top_header .wrapper nav.right_nav ul li {
    margin-left: 16px;
    margin-right: 16px;
}

header.top_header .wrapper nav.left_nav ul li a.active,
header.top_header .wrapper nav.right_nav ul li a.active {
    color: #fea3ac;
}

header.top_header .wrapper nav.left_nav ul li a,
header.top_header .wrapper nav.right_nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

header.top_header .wrapper nav.left_nav ul li a:hover,
header.top_header .wrapper nav.right_nav ul li a:hover {
    color: #fea3ac;
    transition: all 300ms ease-in-out;
}

/* Style for Page Heading */

.svg_style {
    position: relative;
}

.page_heading {
    min-height: 400px;
    background-size: cover;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page_heading.about_page {
    background: transparent url(../img/about_header.jpg) center center no-repeat;
}

.svg_style::before {
    content: "";
    width: 100%;
    height: 130px;
    background: url(../img/top.svg) center center no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.svg_style::after {
    content: "";
    width: 100%;
    height: 110px;
    background: url(../img/bottom.svg) center center no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page_heading h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    color: #fff;
}

.page_heading span {
    font-family: "Waiting for the Sunrise", sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
}

/* Style for About Box */

.about_box {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.about_box .item_data:first-child {
    padding-left: 25px;
    padding-right: 45px;
}

.about_box .item_data:last-child {
    padding-right: 25px;
    padding-left: 45px;
}

.about_box .item_data article {
    margin-bottom: 80px;
}

.about_box .item_data article:last-child {
    margin-bottom: 0;
}

.about_box .item_data article h3 {
    font-size: 30px;
    color: #433840;
    margin-bottom: 12px;
}

.about_box .item_data article p {
    color: #9a9a9a;
}

/* Style for Infographic */

.infographic {
    background: #FEA3AC;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 600px;
}

.infographic .info_list {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infographic .info_list .item_info {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.infographic .info_list .item_info:first-child {
    margin-left: 0;
}

.infographic .info_list .item_info:last-child {
    margin-right: 0;
}

.infographic .info_list .item_info .icon {
    width: 135px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.infographic .info_list .item_info .count {
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #dfeeb6;
    display: block;
}

.infographic .info_list .item_info h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}